*{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
p{
    color: rgba(39, 39, 39, 0.60);
    margin: 20px 0;
}
header{
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    width: 100%;
}
.header-container{
    margin: 0px 170px;
    padding-top: 50px;
    display: flex;
}
.header-container-dettles{
    height: 100%;
    width: 50%;
}
.header-container-dettles h1{
    font-size: 55px;
    font-weight: 800;
}
.header-container-dettles p{
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0px;
}

.header-container-dettles img{
    width: 550;
    height: 593px;
    margin-left: 50px;
}
.btn{
    padding: 15px 30px;
    background-color: #E55473;
    color: white;
    border: none;
    border-radius: 8px;
}
.about-contant{
    display: flex;
    text-align: center;
}
.about-contant-dettles{
    display: flex;
    height: 380px;
    width: 600px;
}
.about-contant-dettles-show{
    width: 450px;
}
.about-contant-dettles-imgStyle{
    height: 200px;
    width: 180px;
    background-color: rgba(85, 84, 84, 0.288);
    margin: 10px;
}
.about-contant-dettles-imgStyle img{
    height: 160px;
    width: 280px;
    margin: 20px 0 0 20px;
}
.about-sizing2{
    margin-top: 175px;
    margin-left: -130px;
}
.about-sizing{
    margin-left: -372px;
}
.our-flowers{
    text-align: center;
    margin: 100px 170px 0 170px;
}
.our-flowers-artical{
    display: flex;
}
.flower-tree-text h6{
    font-size: 18px;
    font-weight: 700;
}
.flower-tree{
    width: 300px;
    height: 460px;
    margin: 14px;
    padding: 10px 10px 0 10px;
    border-radius: 300px 300px 0px 0px;
}
.flower-tree img{
    width: 250px;
    height: 350px;
    margin-top: 110px;
}
#back1{
    background-color: rgba(167, 33, 98, 0.15);
}
#back2{
    background-color: rgba(5, 151, 160, 0.15);
}
#back3{
    background-color: rgba(71, 125, 17, 0.15);
}
.flower-support{
    width: 343px;
    height: 100%;
    padding: 50px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    
}
.support{
    display: flex;
    margin: 100px -20px 0 15px;
    background-color: rgba(39, 39, 39, 0.05);
}
.discount{
    display: flex;
    margin-top: 50px;
    padding: 0 230px;
    background-color: rgba(229, 84, 115, 0.05);;
    text-align: center;
    align-items: center;
}
.discount-contant-flower img{
    margin-left: 80px;
}
.discount-contant-flower p{
    margin: 20px 0;
}
.instagram{
    text-align: center;
    margin: 50px 160px;
}
.images img{
    width: 242px;
    height: 296px;
    margin-left:10px;
}
.background-artical{
    margin: 100px 0 50px 0;
    margin-left: 15px;
    width: 1010px;
    height: 349px;
    background-image: url('./Rectangle\ 9.png');
    border-radius: 5px;
    display: inline-block;
}
.background-artical h2{
    padding-top: 122px;
}
.background-artical input{
    height: 37px;
    padding: 5px;
    width: 500px;
    border: none;
    border-radius: 5px;
}
.background-artical p{
    margin: 10px 0 20px 0;
}
footer{
    margin-top: 20px;
    height: 40vh;
    background-color: #111010;
    color: white;
    text-align: center;
    padding-top: 60px;
}
footer p{
    margin-top: 20px;
    color: white;
}
footer span{
    color: #E55473;
}
#copy-right{
    color: rgba(255, 255, 255, 0.40);
}